.center {text-align: center;}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: navy;
}

.header {
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
}

.help {
    font-size: 12px;
    color: gray;
}

label, .label {
    float: left; 
    width: 230px; 
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
    clear: left;
    font-family: Cambria, "Times New Roman", serif;
    color: grey
}

.field { width: 700px; }

h1 { 
	margin-left: 240px;
	margin-top: 40px;
	font-family: Cambria, "Times New Roman", serif;
	color: grey;
	font-style: italic; 
}

h2 { 
	font-family: Cambria, "Times New Roman", serif;
	color: grey; 
}

#content { margin-bottom: 3px; }

body {
    width: 760px;
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

#result_buy {
    float: right;
    width: 355px;
    padding-left: 20px;
}

#result_sell {
	float: left;
	width: 355px;
	padding-right: 20px;
}

table {
	border-collapse: collapse;
}

p, th { font-family: Cambria, "Times New Roman", serif; }

td.name {
	width: 180px;
	border-right: 1px solid grey;
}

th.name {
	width: 180px;
}

td.price {
	width: 72px;
	border-right: 1px solid grey;
}

th.price {
	width: 72px;
}

th.location, td.location {
	width: 108px;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

#downpage{
    height: 200px;
    width: 50%;
    text-align: center;
}

.footer a {
    margin: 0 12px;
    font-size: 12px;
}


.discreet {
    color: #a9a9a9;
    font-size: x-small;
}

.small {
    font-size: small;
}

a img {
    border: none;
}

.options {
	float: right;
	font-size: 12px;
}