.center {text-align: center;}

a {
	text-decoration: none;
}

a:visited {
	color: navy;
}

.header {
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
}

.help {
    font-size: 12px;
    color: gray;
}

label, .label {
    float: left; 
    width: 230px;
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
    clear: left;
    font-family: Cambria, "Times New Roman", serif;
    color: grey;
    font-size: 15px;
}

.field { width: 700px; }

h1 { 
	font-family: Cambria, "Times New Roman", serif;
	color: gray;
	font-style: italic; 
	margin-left: 240px;
}

h2 { 
	font-family: Cambria, "Times New Roman", serif;
	color: gray; 
	margin-bottom: 20px;
}

#content { 
	margin-bottom: 3px; 
	font-size: 15px;
}

body {
    width: 760px;
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-size: small;
}

#result_buy {
    float: right;
    width: 355px;
    padding-left: 20px;
}

#result_sell {
	float: left;
	width: 355px;
	padding-right: 20px;
}

table {
	border-collapse: collapse;
}

th {
    text-align: left;
    font-size: 15px;
    padding-bottom: 10px;
}

td {
    border: 1px solid gray;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

th.name {
	width: 180px;
}

th.price {
	width: 90px;
}

th.location {
	width: 108px;
}

#downpage{
    height: 200px;
    width: 50%;
    text-align: center;
}

.footer a {
    margin: 0 12px;
    font-size: 12px;
}


.discreet {
    color: #a9a9a9;
    font-size: x-small;
}

.small {
    font-size: small;
}

a img {
    border: none;
}

.emph {
    font-size: large;
    font-weight: bold;
}
