.center {text-align: center;}

.help {
    font-size: 12px;
    color: gray;
}

label, .label {
    float: left; 
    width: 230px; 
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
    clear: left;
}

.field { width: 700px; }

h1 { margin-left: 240px; }

.form { margin-top: 100px; }

#content { margin-bottom: 3px; }

body {
    width: 760px;
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

#result_buy {
    float: left;
    width: 350px;
}

#result_sell {
    float: left; 
    width: 350px;
}

#downpage{
    height: 200px;
    width: 50%;
    text-align: center;
}

.footer a {
    margin: 0 12px;
    font-size: 12px;
}


.discreet {
    color: #a9a9a9;
    font-size: x-small;
}

.small {
    font-size: small;
}

a img {
    border: none;
}