@CHARSET "ISO-8859-1";
.center {text-align: center;}

.help {
	font-size: 12px;
	color: grey;
	}

.question {font-size: 50px;}

label, .label {
    float: left; 
    width: 230px; 
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
    clear: left;
}

.field { width: 700px; }

h1 { margin-left: 240px; }

.form { margin-top: 100px; }

#content { margin-bottom: 3px; }

.list { float: left; }
